.items {
  background-color: #f7d3ba;
  width: 800px;
  display: block;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  margin-top: 20px;
}

.app-title {
  margin-top: 30px;
  text-align: center;
}
